<div>
    <form>
        <div>
            <input #name type = "email" name = "email" placeholder="Email" class="form-control">
        </div>
        <div>
            <input #password type = "password" name = "password" placeholder="Password" class="form-control">
        </div>
        <div>
            <br/><br/>
        </div>
        <div>
            <button (click)="login(name.value, password.value)"  type="submit" class="btn btn-primary">Login</button>
        </div>
        {{mensajeError}}
    </form>
</div>